{{ define "main" }}
<div class="runner">
  <p style="max-width: 430px">
    <i>San Francisco Software Engineer Jackson Galan</i> builds maintainable,
    performant web apps for fun, and profit. This portfolio descibes them, and
    provides links to demos, repos, and related content.
  </p>
</div>
<div class="container home">
  <div class="tabs">
    <button class="tab-button active" onclick="showCategory('fun', event)">
      Fun
    </button>
    <button class="tab-button" onclick="showCategory('profit', event)">
      Profit
    </button>
  </div>
  <section class="categories">
    <article class="category" id="fun">
      <ul>
        {{ range .Site.Taxonomies.categories.fun }}
        <li>{{ partial "project/preview.html" . }}</li>
        {{ end }}
      </ul>
    </article>
    <article class="category" id="profit">
      <ul>
        {{ range sort .Site.Taxonomies.categories.profit "Params.order" "asc" }}
        <li>{{ partial "project/preview.html" . }}</li>
        {{ end }}
      </ul>
    </article>
  </section>
</div>
<script>
  function showCategory(category, event) {
    document.getElementById("fun").style.display = "none";
    document.getElementById("profit").style.display = "none";
    document.getElementById(category).style.display = "block";

    var buttons = document.getElementsByClassName("tab-button");
    for (var i = 0; i < buttons.length; i++) {
      buttons[i].classList.remove("active");
    }
    event.currentTarget.classList.add("active");
  }
</script>
{{ end }}
