{{ define "main" }}
<div class="runner">
  <p style="max-width: 430px">
    <i>San Francisco Software Engineer Jackson Galan</i> builds maintainable,
    performant web <b>apps</b> for fun, and profit. This portfolio descibes
    them, and provides links to <b>demos</b>, <b>repos</b>, and
    <b>related content</b>.
  </p>
</div>
<div class="container home">
  <section class="category">
    <h2 class="title" id="fun">FUN</h2>
    <ul>
      {{ range .Site.Taxonomies.categories.fun }}
      <li>{{ partial "project/preview.html" . }}</li>
      {{ end }}
    </ul>
  </section>
  <section class="category">
    <h2 class="title" id="profit">Profit</h2>
    <ul>
      {{ range sort .Site.Taxonomies.categories.profit "Params.order" "asc" }}
      <li>{{ partial "project/preview.html" . }}</li>
      {{ end }}
    </ul>
  </section>
</div>
{{ end }}
