html,
body {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 1.5;
}

body {
  padding: 2rem;
}

footer {
  margin-top: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:visited {
  color: initial;
}
