{{ $page := . }} {{ $previewImage := $page.Resources.GetMatch "images/preview.*"
}}

<article class="project-preview">
  <header>
    {{ if $previewImage }}
    <a href="{{ $page.Permalink }}">
      <figure>
        <img
          src="{{ $previewImage.Permalink }}"
          alt="{{ $page.Title }} thumbnail"
        />
      </figure>
    </a>
    {{ end }}
  </header>
  <main>
    <div class="project-summary">
      <a href="{{ $page.Permalink}}">
        <h2 class="title">{{ $page.Title }}</h2>
      </a>
      <p>{{ $page.Summary }}</p>
    </div>
  </main>
  <footer>
    <ul class="links">
      {{ if $page.Params.site }}
      <li>{{ partial "site-link.html" $page.Params.site }}</li>
      {{ end }} {{ if $page.Params.repo }}
      <li>{{ partial "repo-link.html" (dict "url" $page.Params.repo) }}</li>
      {{ end }}
    </ul>
    <p class="date">{{ .Date.Format "January 2, 2006" }}</p>
  </footer>
</article>
