{{ $page := . }} {{ $previewImage := $page.Resources.GetMatch "images/preview.*"
}}

<article class="project-preview">
  <header>
    {{ if $previewImage }}
    <a href="{{ $page.Permalink }}">
      <div class="project-thumbnail">
        <img
          src="{{ $previewImage.Permalink }}"
          alt="{{ $page.Title }} thumbnail"
        />
      </div>
    </a>
    {{ end }}
  </header>
  <main>
    <div class="project-summary">
      <a href="{{ $page.Permalink}}">
        <h2 class="title">{{ $page.Title }}</h2>
      </a>
      <p>{{ $page.Summary }}</p>
    </div>
  </main>
  <footer>
    <ul>
      {{ if $page.Params.site }}
      <li>
        <a href="{{ $page.Params.site}}">Site</a>
      </li>
      {{ end }} {{ if $page.Params.repo }}
      <li>
        <a href="{{ $page.Params.repo }}">Repo</a>
      </li>
      {{ end }}
    </ul>
    <p>
      <small><pre>{{ $page.Date.Format "January 2, 2006" }}</pre></small>
    </p>
  </footer>
</article>
