/* Styles */

/* Globale */
:root {
  --light: #fff;
  --light-secondary: #f4f4f4;
  --light-tertiary: #e0e0e0;
  --dark: #1d242f;
  --dark-secondary: #2a2f3aee;
  --blue: #019efd;
  --red: #ff0000;
  --light-red: #ff6666;
}
html,
body {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
body {
  line-height: 1.5;
  background-color: var(--dark);
  color: var(--light);
}
a.repo > svg,
a.site > svg {
  width: 20px;
  height: 20px;
}
a.repo:hover svg path,
a.site:hover svg path {
  fill: var(--blue);
  stroke: var(--blue);
}
footer {
  margin-top: auto;
  padding: 2rem;
}

ul {
  padding: 0;
  list-style: none;
}

a,
a:visited {
  color: initial;
}

/* Base */
body > header {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 1rem 2rem;
}
body > header .site-title {
  display: flex;
  flex-direction: column;
  width: fit-content;
  justify-content: flex-end;
}

.site-title p {
  margin: 0;
}

#site-name {
  font-family: monospace;
  color: #fff;
}
#site-brand {
  color: var(--light-red);
  font-size: 1.5em;
  font-weight: 100;
}

body > footer {
  color: var(--light);
}

/* Home Page */
.home.container {
  display: flex;
  flex-direction: column;
  background-color: var(--light-secondary);
}

.home.container section {
  flex: 1;
  margin: 1rem;
}

.runner > p {
  padding: 2rem;
}

section.category > .title {
  text-align: center;
  text-transform: uppercase;
}

.title#fun::after {
  content: " 🎉";
}

.title#profit:before,
.title#profit::after {
  content: " 💸 ";
}

.tabs {
  display: flex;
  border-bottom: 1px solid var(--dark);
  padding: 0 2rem;
  background-color: var(--dark);
}
.tab-button {
  padding: 10px 20px;
  cursor: pointer;
  font-family: monospace;
  font-size: 14px;
  border: 1px solid var(--dark);
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  margin-right: 10px;
  background-color: var(--light-tertiary);
}
.tab-button:hover,
.tab-button:focus,
.tab-button:focus-visible {
  background-color: var(--dark-secondary);
  outline: none; /* Remove default outline */
  border-color: var(--light-secondary);
  color: var(--light);
}
.tab-button.active {
  background-color: var(--light-secondary);
  box-shadow: inset 1px 0px var(--dark);
  margin-bottom: -2px; /* Overlap the container border */
  color: var(--dark);
}
.category {
  display: none;
}
.category:first-of-type {
  display: block;
}
article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
article > ul {
  margin: auto;
}

@media (min-width: 1024px) {
  .home.container ul {
    display: flex;
    flex-wrap: wrap;
  }
  .home.container ul li {
    margin: 0 1rem;
  }
}

/* Single Page */
#project-single {
  line-height: 1.5;
  max-width: 678px;
  padding: 1rem;
}

#project-single a {
  color: var(--blue);
  text-decoration: none;
}

#project-single figure {
  margin: 0;
}

#project-single figure > figcaption > p {
  font-style: italic;
}

#project-single figure > img {
  width: 100%;
}
/* Project Preview */
.project-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  margin-bottom: 1rem;
  border: 1px solid;
  border-radius: 1rem;
  background-color: var(--light);
  box-shadow: 2px 2px 2px var(--dark);
  overflow: hidden;
}
@media (min-width: 1024px) {
  .project-preview a {
    min-width: 400px;
  }
}
.project-preview > header {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid;
  width: 100%;
  box-sizing: border-box;
}
.project-preview a,
.project-preview p,
.project-preview h1,
.project-preview h2,
.project-preview h3 {
  color: var(--dark);
}
.project-preview a {
  text-decoration: none;
  width: 100%;
}
.project-preview a:hover {
  text-decoration: underline;
  color: var(--blue);
}

.project-preview > main {
  width: 100%;
}

.project-summary {
  margin: 0 1rem;
}
.project-preview figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  overflow: hidden;
}
.project-preview figure img {
  width: 100%;
}

.project-preview > footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: fit-content;
  padding: 1rem;
  box-sizing: border-box;
}
.project-preview > footer ul.links {
  display: flex;
  justify-content: flex-start;
}
.project-preview > footer ul.links > li {
  margin: 0 1rem 0 0;
}
.project-preview > footer .date {
  font-size: 12px;
}
