<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link
  rel="icon"
  type="image/png"
  href="{{ site.BaseURL }}/icons/favicon-96x96.png"
  sizes="96x96"
/>
<link
  rel="icon"
  type="image/svg+xml"
  href="{{ site.BaseURL }}/icons/favicon.svg"
/>
<link rel="shortcut icon" href="{{ site.BaseURL }}/icons/favicon.ico" />
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="{{ site.BaseURL }}/icons/apple-touch-icon.png"
/>
<link rel="manifest" href="{{ site.BaseURL }}/icons/site.webmanifest" />
<title>
  {{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title
  site.Title }}{{ end }}
</title>
<meta name="description" content="Explore the portfolio of Jackson Galan, a San Francisco-based software engineer and digital creative specializing in full-stack development, web design, and multimedia storytelling.">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://abstractionjackson.com">
<meta property="og:type" content="website">
<meta property="og:title" content="Software Abstractions and Digital Media">
<meta property="og:description" content="Explore the portfolio of Jackson Galan, a San Francisco-based software engineer and digital creative specializing in full-stack development, web design, and multimedia storytelling.">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/96b7c276-d02a-4760-988b-87c44d80c7bd.png?token=QJxoJOIFAPeP6gxhlQPWiDK6XZfK32oIaauHDE_F5_M&height=1024&width=1024&expires=33285592698">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="abstractionjackson.com">
<meta property="twitter:url" content="https://abstractionjackson.com">
<meta name="twitter:title" content="Software Abstractions and Digital Media">
<meta name="twitter:description" content="Explore the portfolio of Jackson Galan, a San Francisco-based software engineer and digital creative specializing in full-stack development, web design, and multimedia storytelling.">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/96b7c276-d02a-4760-988b-87c44d80c7bd.png?token=QJxoJOIFAPeP6gxhlQPWiDK6XZfK32oIaauHDE_F5_M&height=1024&width=1024&expires=33285592698">

<!-- Meta Tags Generated via https://www.opengraph.xyz -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css" />
{{ partialCached "head/css.html" . }} {{ partialCached "head/js.html" . }}
